<div class="complete">
<!-- ***************************************************************************************************************************************
 Start of Twitter feed
*************************************************************************************************************************************** -->
  <div class="left-box">
    <div class="leap-app">
        <h1 class="main-heading">Leap Web app</h1>
        <div class="leap-icon"></div>
        <p class="main-text">
          The encryption access project "LEAP" is a non-profit dedicated to giving all internet users
          access to secure communication. Our focus is on adapting encryption technology to make it
          easy to use and widely available.<p><a href="https://leap.se/en/about-us"> More about LEAP.</a></p>
        </p>
    </div>
  </div>

<!-- ***************************************************************************************************************************************
 Start of Twitter feed
*************************************************************************************************************************************** -->
  <div class="newsfeed">
    <h2 class="twitter-heading">Tweets by <a href="https://twitter.com/leapcode"> @leapcode.</a></h2>

    <% @tweets.take(20).each do |tweet| %>
      <div class="tweet-boxes">
          <!-- <p><%= image_tag("team-loadtocode-Loading_icon.gif", height: '40px', width: '40px') %></p> -->
        <!-- <div class="tweet-avatar"><img id="tweets_pic" src="assets/team-loadtocode-Loading_icon.gif"></div> -->
        <div class="tweet-avatar"></div>
          <div class="tweet-content">
            <p><%= tweet.text %></p>
          </div>
      </div>
    <% end %>

    <!-- <p><% @tweets.take(20).each do |tweet| %>
      <div class="tweet-boxes">
        <div class="tweet-avatar"><p><%= image_tag("retweet.png", height: '40px', width: '40px') %></p>
          <div class="tweet-content">
          <p><%= tweet.text %></p>
          <% end %></p>
        </div>
      </div>
    </div> -->
<!--
    <div class="tweet-boxes">
      <div class="tweet-avatar"><p><%= image_tag("team-loadtocode-Loading_icon.gif", height: '40px', width: '40px') %></p></div>
      <div class="tweet-content">
        <% @tweets.take(1).each do |t| %>
          <%= t.text %>
        <% end %>
      </div>
    </div>

    <div class="tweet-boxes">
      <div class="tweet-avatar"><p><%= image_tag("team-loadtocode-favourite-colleague.jpg", height: '40px', width: '40px') %></p></div>
      <div class="tweet-content">
        <% @tweets.take(1).each do |t| %>
          <%= t.text %>
        <% end %>
      </div>
    </div>

    <div class="tweet-boxes">
      <div class="tweet-avatar"></div>
      <div class="tweet-content">
        <% @tweets.take(1).each do |t| %>
          <%= t.text %>
        <% end %>
      </div>
    </div> -->

  </div>

</div>
